@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap");

:root {
	--line-button: #3498db;
	--line-font: #e0e0e0;
	--font-white: #eee;
	--background-color: #d5dddf;
	--nav-color: #0c0c16;
	--nav-color-light: #29293b;
	--link-button: #ffdd40;
	--link-button-dark: #ceb33b;
}

body {
	background-color: var(--background-color);
	box-sizing: border;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		var(--nav-color-light) 0%,
		var(--nav-color) 90%
	);
	box-shadow: 2px 2px 12px var(--background-color);
	padding: 0px 5%;
}

nav ul {
	display: flex;
}

nav ul li a {
	margin: 30px;
	font-family: Courier;
	font-weight: 700;
	color: var(--line-font);
	font-size: 15px;
	transition: all ease 0.3s;
}

nav ul li a:hover {
	text-shadow: 1px 1px 2px var(--line-button);
	font-size: 15.1px;
	transition: all ease 0.3s;
}

.logo {
	font-family: "Shadows Into Light Two", cursive;
	color: var(--line-font);
	font-size: 30px;
	padding: 10px 0 10px 0;
}

section {
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	position: relative;
	background-image: url("https://images.unsplash.com/photo-1614285457768-646f65ca8548?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
}

.text-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-container {
	padding: 12px;
}

.text-container p {
	margin: 45px 0px 25px;
	line-height: 0px;
}

.text-container p:nth-child(1) {
	font-family: Courier;
	font-weight: bold;
	color: var(--line-font);
	font-size: 15px;
	padding: 10px 0 10px 0;
}

.text-container p:nth-child(5) {
	font-family: Courier;
	font-weight: bold;
	color: var(--line-font);
	font-size: 15px;
	padding: 10px 0 20px 0;
}

.text-container p:nth-child(2),
.text-container p:nth-child(3),
.text-container p:nth-child(4) {
	font-family: Courier;
	font-weight: bold;
	color: var(--line-font);
	text-shadow: 1px 1px 2px #000;
	font-size: 32px;
}

.negrita {
	color: rgb(255, 231, 153);
	text-shadow: 0 0 4px var(--nav-color);
}

.about-container {
	height: 330px;
	width: 90%;
	background-color: var(--font-white);
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: -7px auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}

.about-container img {
	height: 250px;
}

.about-text {
	width: 550px;
}

.about-container p:nth-child(1) {
	font-size: 20px;
}

.servicios {
	background-color: var(--background-color);
	padding: 2% 5%;
	height: auto;
}

.servicios-text p:nth-child(1) {
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 30px;
	line-height: 0px;
}
.servicios-text p:nth-child(2) {
	font-family: calibri;
	color: #7e7d7d;
}

.servicios-text {
	width: 100%;
	margin: 20px 0px;
}

.box-container {
	display: flex;
	height: 90%;
	width: 90vw;
}
.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	border-radius: 50px;
	color: #eee;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	transition: flex 0.4s ease-in 0.1s;
	opacity: 0.5;
}

.panel h3 {
	font-size: 32px;
	position: relative;
	bottom: -4px;
	left: 5%;
	margin: 0;
	opacity: 0;
}

.panel.active {
	flex: 1;
	opacity: 1;
	box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.4);
	color: #fff;
}

.panel.active h3 {
	opacity: 1;
	transition: opacity 0.6s ease-in 0.3s;
}

.panel.active .btn-a {
	opacity: 1;
	transition: opacity 0.6s ease-in 0.3s;
}

.panel .btn-a {
	text-decoration: none;
	color: var(--nav-color);
	opacity: 0;
}

.panel .btn {
	position: relative;
	bottom: -85%;
	right: -40%;
	width: 56px;
	padding: 8px;
	background-color: var(--link-button);
	text-align: center;
	border-radius: 6px;
	opacity: 0;
}
.panel.active .btn {
	opacity: 1;
	transition: opacity 0.6s ease-in 0.3s;
}

.panel.active .btn:hover {
	background-color: var(--link-button-dark);
	transition: all ease 0.3s;
}

footer {
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		var(--nav-color-light) 0%,
		var(--nav-color) 90%
	);
	margin-top: 20px;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

footer p {
	font-family: calibri;
}

footer p:nth-child(1) {
	font-family: "Shadows Into Light Two", cursive;
	font-weight: bold;
	font-size: 30px;
	color: var(--line-font);
	line-height: 10px;
}

footer p:nth-child(2) {
	font-size: 16px;
	color: #7e7d7d;
	width: 600px;
	text-align: center;
}

.social-icons a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--line-font);
	margin: 20px 10px;
	border-radius: 50%;
}

.social-icons {
	display: flex;
}

.copyright {
	color: var(--line-font);
	font-size: 16px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.social-icons i {
	color: #000000;
}

.social-icons a:hover {
	background-color: var(--line-button);
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
	transition: all ease 0.8s;
}

.social-icons a:hover i {
	color: var(--font-white);
	transition: all ease 0.8s;
}

@media (max-width: 1000px) {
	section {
		height: 50vh;
	}
	* {
		box-sizing: border-box;
	}
	section ul {
		display: none;
	}
}

@media (max-width: 750px) {
	section {
		height: 30vh;
	}
	.text-container {
		width: 90%;
		font-size: 1.2em;
	}
	.about-container img {
		height: 120px;
	}

	.about-text {
		width: 400px;
	}

	.about-text p {
		font-size: 12px;
	}

	.text-container p:nth-child(2),
	.text-container p:nth-child(3) {
		line-height: 20px;
		margin: 0px;
		padding: 0px;
		font-size: 0.9em;
	}
	.text-container p:nth-child(1),
	.text-container p:nth-child(5) {
		line-height: 40px;
		margin: 0px;
		padding: 0px;
		font-size: 0.5em;
	}
	.text-container p:nth-child(4) {
		line-height: 20px;
		margin: 0px;
		padding: 0px;
		font-size: 0.7em;
	}

	.box-container {
		flex-direction: column;
		height: 90vh;
	}

	.list h2 {
		font-size: 32px;
	}

	.panel {
		height: 80%;
	}

	.panel h3 {
		font-size: 20px;
	}

	i {
		font-size: 14px;
	}

	.panel .btn {
		position: relative;
		bottom: -75%;
		right: -80%;
		width: 60px;
		text-align: center;
	}
}

@media (max-width: 600px) {
	section {
		height: 48vh;
	}

	.text-container {
		margin-top: 20px;
		top: 10%;
		left: 20%;
		width: 75%;
		bottom: 90%;
	}

	.about-text p {
		width: 90%;
		font-size: 14px;
	}

	.panel .btn {
		position: relative;
		bottom: -70%;
		right: -38%;
		width: 60px;
		text-align: center;
	}

	.panel .btn-a {
		font-size: 12px;
		text-align: center;
	}
}
